* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  color: black;
  font-size: 20px;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 24px;
}

main {
  width: 70%;
  margin: 0 auto;
}
#student-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
}

.element-container {
  border: 2px solid black;
  padding: 15px;
  cursor: pointer;
}

.student-container:hover {
  background-color: rgba(245, 214, 174, 0.534);
}

#popUp {
  display: none;
  width: 100%;
  background-color: var(--theme-background-color);
  min-height: 500px;
  position: fixed;
  padding: 50px;
  top: 0;
}

#popUp .container {
  padding: 80px;
}

/* Themes CC */

section[data-theme="default"] {
  --theme-background-color: #f5f5f5;
}
section {
  background-color: var(--theme-background-color);
}

#popUp {
  background-color: var(--theme-background-color);
}

section[data-theme="Gryffindor"] {
  --theme-background-color: #f00;
  color: blue;
}

section[data-theme="Hufflepuff"] {
  --theme-background-color: purple;
}

section[data-theme="Ravenclaw"] {
  --theme-background-color: blue;
}

section[data-theme="Slytherin"] {
  --theme-background-color: green;
}

.house-crest {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
}
:root {
  --primary-color: white;
  --headline-color: black;
}
.element-container[data-theme="Gryffindor"] .house-crest,
.house-crest {
  background-image: url(imgCrests/gryffindor.png);
}

.element-container[data-theme="Hufflepuff"] .house-crest,
.house-crest {
  background-image: url(imgCrests/hufflepuff.png);
}

.element-container[data-theme="Slytherin"] .house-crest,
.house-crest {
  background-image: url(imgCrests/slytherin.jpg);
}
.element-container[data-theme="Ravenclaw"] .house-crest,
.house-crest {
  background-image: url(imgCrests/ravenclaw.jfif);
}

[data-theme="Hufflepuff"] {
  --primary-color: yellow;
  --headline-color: rgb(224, 224, 86);
}

[data-theme="Slytherin"] {
  --primary-color: green;
  --headline-color: rgb(94, 194, 94);
}

[data-theme="Ravenclaw"] {
  --primary-color: blue;
  --headline-color: rgb(86, 86, 221);
}

[data-theme="Gryffindor"] {
  --primary-color: red;
  --headline-color: rgb(226, 99, 99);
}
#popUp {
  background-color: var(--primary-color);

  color: var(--headline-color);
}
