* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  color: black;
  font-size: 12px;
}
h1 {
  font-size: 40px;
  margin: 50px auto;
}
h2 {
  font-size: 12px;
}
img {
  height: 30px;
  width: 30px;
}

main {
  max-width: 1180px;
  margin: 0 auto;
}
#student-grid {
  height: 10px;
}

.element-container {
  display: contents;
}

.tbody {
  display: contents;
}

#list tbody tr td[data-field="name"] {
  text-align: left;
  padding-left: 20px;
}

.student-container {
}

.student-container:hover {
  background-color: rgba(245, 214, 174, 0.534);
}

#students button {
  width: 150px;
  height: 40px;
  border: 2px solid black;
  border-radius: 5%;
  background-color: #f5f5f5;
  color: black;
  font-size: 13px;
  transition: ease-in-out 0.3s;
}

#students button:hover {
  background-color: black;

  color: white;
}
#popUp {
  display: none;
  width: 100%;
  max-width: 1180px;
  background-color: var(--theme-background-color);
  min-height: 200px;
  position: fixed;
  padding: 10px;
  top: 0;
}

#popUp .container {
  padding: 80px;
}

/* Themes CC */

.house-crest {
  /*   background-repeat: no-repeat;
  background-position: center; */
  background-image: var--(houseCrest);
  background-size: 100%;
  height: 100px;
  width: 100px;
}
:root {
  --primary-color: white;
  --headline-color: black;
}

[data-theme="Hufflepuff"] {
  --primary-color: yellow;
  --headline-color: rgb(224, 224, 86);
  background-image: url(imgCrests/hufflepuff.png);
}

[data-theme="Slytherin"] {
  background-image: url(imgCrests/slytherin.jpg);
  --primary-color: green;
  --headline-color: rgb(94, 194, 94);
}

[data-theme="Ravenclaw"] {
  background-image: url(imgCrests/ravenclaw.jfif);
  --primary-color: blue;
  --headline-color: rgb(86, 86, 221);
}

[data-theme="Gryffindor"] {
  background-image: url(imgCrests/gryffindor.png);
  --primary-color: red;
  --headline-color: rgb(226, 99, 99);
}
#popUp {
  background-color: var(--primary-color);

  color: var(--headline-color);
}

.grey {
  filter: grayscale(100%);
}

#list {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  text-align: center;
}
/* 
.test-container {
  width: 1180px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  height: 50px;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
} */
#list #sorting {
  display: contents;
}
#sorting th.sortby {
  text-decoration: underline;
}

#list {
  width: 100%;
  border-collapse: collapse;
}

button {
  height: 30px;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}
/* #list tr {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
} */
#list tbody tr td {
  padding: 8px;
  border: 2px solid black;
}

#list tbody tr:nth-child(odd) td {
  background-color: rgb(139, 150, 154);
  /*border-right: rgb(240, 249, 255) 1px dotted;*/
}

#list tbody tr:nth-child(even) td {
  /* border-right: rgb(171, 219, 252) 1px dotted;*/
}

.hide {
  content: "";
}

.pointerNone {
  pointer-events: none;
}

/* search bar */

/* dialog booxes */
[data-action] {
  cursor: pointer;
}

#sorting th {
  filter: grayscale(100%);
}

.grey {
  filter: grayscale(100%);
}

#sorting th.sortby {
  text-decoration: underline;
}

#sorting th.sortby[data-sort-direction="asc"]::after {
  content: "⇓";
}

#sorting th.sortby[data-sort-direction="desc"]::after {
  content: "⇑";
}

#list {
  border-collapse: collapse;
}

#list tbody tr td {
  padding: 4px;
}

#list tbody tr:nth-child(odd) td {
  background-color: lightblue;
  border-right: rgb(240, 249, 255) 1px dotted;
}

#list tbody tr:nth-child(even) td {
  border-right: rgb(171, 219, 252) 1px dotted;
}

/* ****** STAR ****** */

[data-field="star"] {
  text-align: center;
  cursor: pointer;
  min-width: 2em;
}

/****** WINNER ******/
[data-field="winner"][data-winner="false"] {
  filter: grayscale(100%);
  cursor: pointer;
}

/******** DIALOG styling **********/

.dialog {
  display: none;
}

.dialog.show {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.dialogcontent {
  background-color: rgb(233, 233, 255);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10vw 8vw 8vw 8vw;
  position: relative;
}

.dialog h1 {
  margin: 0;
  font-size: 130%;
}

.dialog h2 {
  margin: 0.5em 0;
  font-size: 110%;
  font-weight: lighter;
}

.dialog .closebutton {
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 4vw;
  right: 4vw;
  border: none;
  background-color: transparent;
  font-size: 90%;
  color: darkgray;
}

.dialog .closebutton:hover {
  color: black;
}
